@model IEnumerable<BackEnd_Camping.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="search my-3">
    <form asp-action="Index" method="get">
        <input name="searchQuery" placeholder="Search..." type="text">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
<div class="row d-flex justify-content-between">
    <div class="col-1">
        <h1>Product</h1>
    </div>
    <div class="col-1 my-auto">
        <a asp-action="create" asp-controller="Product" class="text-decoration-none">
            <button class="cssbuttons-io-button">
                <span><i class="fa-solid fa-plus"></i></span>
                Add
            </button>
        </a>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th style="width: 10rem">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                    <img src="~/data/products/@item.Avatar" alt="avatar" width="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @if (item.Status)
                    {
                        <span class="text-success">Đang hoạt động</span>
                    }
                    else
                    {
                        <span class="text-danger">Ngừng hoạt động</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
             <td class="text-center">
                <div class="d-flex justify-content-center gap-2">
                    <a asp-action="Edit" asp-route-id="@item.PRO_ID" class="text-decoration-none">
                        <button type="button" class="edit-button">
                             <i class="fa-solid fa-pen text-white edit-svgIcon"></i>
                        </button>
                    </a>
                    <button type="button" class="detail-button" popovertarget="popover-detail-@item.PRO_ID">
                       <i class="fa-solid fa-info text-white detail-svgIcon"></i>
                    </button>
                        <div id="popover-detail-@item.PRO_ID" popover class="popover-detail rounded rounded-3 border-success-subtle border-2">
                            <div class="container bg-success-subtle" style="max-width: 1000px;">
                                <div class="row py-2">
                                    <h1>Thông tin chi tiết của Sản Phẩm @item.Name</h1>
                                    <div class="col-4">
                                        <img src="~/data/products/@item.Avatar" alt="avatar" width="300" height="300" class="rounded rounded-2" />
                                        <div class="row">
                                            <div class="col">
                                                <p>
                                                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>: @item.Name
                                                </p>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    <strong>@Html.DisplayNameFor(model => model.Price)</strong>: @item.Price
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5 my-auto">
                                        <dl class="row text-start">
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.Category.CAT_ID)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @item.Category.Name
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.Brand.BRA_ID)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @item.Brand.Name
                                            </dd>
                                            <dt class="col-sm-4" style="height: auto;">
                                                @Html.DisplayNameFor(model => model.Intro)
                                            </dt>
                                            <dd class="col-sm-8" style="height: auto; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
                                                @Html.Raw(item.Intro)
                                            </dd>
                                            
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.DiscountPrice)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @item.DiscountPrice
                                            </dd>
                                            <dt class="col-sm-4" >
                                                @Html.DisplayNameFor(model => model.Rate)
                                            </dt>
                                            <dd class="col-sm-8" >
                                                @item.Rate
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.Quantity)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @item.Quantity
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.Status)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @if (item.Status)
                                                {
                                                    <span class="text-success">Đang hoạt động</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">Ngừng hoạt động</span>
                                                }
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.MetaTitle)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @item.MetaTitle
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.MetaDescription)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @item.MetaDescription
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.MetaKeywords)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @item.MetaKeywords
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-3">
                                        <h4>@Html.DisplayNameFor(model => model.Description)</h4>
                                        <div style="width: 100%; height: 300px; overflow: auto; word-wrap: break-word;">
                                            @Html.Raw(item.Description)
                                        </div>
                                    </div>
                                </div>
                                <div class="position-absolute top-0 end-0">
                                    <button type="button" class="close-button" onclick="location.reload()">
                                        <i class="fa-solid fa-times text-white"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button popovertarget="popover-delete-@item.PRO_ID" class="trash-button">
                            <i class="fa-solid fa-trash text-white trash-svgIcon"></i>
                        </button>
                        <div id="popover-delete-@item.PRO_ID" popover class="popover-delete rounded rounded-3 border-success-subtle border-2">
                            <div class="container" style="max-width: 400px;">
                                <div class="row">
                                    <h1>Bạn có thực sự muốn xóa @item.Name không?</h1>
                                </div>
                                <div class="row">
                                    <form asp-action="DeleteConfirmed" method="post" class="d-inline" onsubmit="return confirm('Bạn thực sự muốn xóa không?');">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@item.PRO_ID" />
                                        <button type="submit">
                                            <i class="fa-solid fa-trash text-white trash-svgIcon"></i>Xóa
                                        </button>
                                        <button type="button" class="close-button" onclick="location.reload()">
                                            <i class="fa-solid fa-times text-white"></i> Đóng
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                 </div>
            </td>
        </tr>
}
    </tbody>
</table>
@section Header {
    @{
        <link href="~/admin/plugins/ckeditor5/ckeditor5.css" rel="stylesheet" />
    }
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/admin/plugins/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/admin/plugins/ckeditor5/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#Description'), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font],
                toolbar: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <!-- A friendly reminder to run on a server, remove this during the integration. -->
    <script>
        window.onload = function () {
            if (window.location.protocol === "file:") {
                alert("This sample requires an HTTP server. Please serve this file with a web server.");
            }
        };
    </script>
    <script>
        function reloadPage() {
            location.reload();
        }
    </script>

}